# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/
venv/
env/

# VS Code
.vscode/

# Logs
*.log

# Environment variables
.env

# Build
build/
dist/

# OS
.DS_Store
Thumbs.db

# Python cache
.pytest_cache/
.mypy_cache/

# Node
node_modules/

# Output dữ liệu sinh ra
data/output/*
!data/output/.gitkeep